/* dashboard outputs */
#dashboard {
  position: absolute;
  top: 80%;
  left: 30%;

  width: 40%;

  margin: auto;
  margin-bottom: 1%;
  padding: auto;
}

#dashboard .back {
  margin-left: 45%;
}

#debug_output {
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.299) 2px 2px 10px;

  color: #fff;  
  background-color: rgba(170, 201, 175, 0.679);

  padding: auto;
  margin: auto;  
  padding: 2%;

  height: 2vh;
}


/* Sprite game surface */
#surface {
  /*height: 400px;
  width: 800px;*/
  position: relative;
  margin: 0 auto;
  transform-origin: top;

  /*my code*/
  background-image: url(../img/map/d3sgd1g-8e2e430d-c898-405f-a918-26ce227b3464.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 480px;
  width: 608px;
}

#player {
  position: absolute;
  width: 40px;  /* viewing window */ /*35*/
  height: 36px; /* viewing window */ /*32*/
  overflow: hidden;
  opacity: 0; 

  /*border: white solid 0.5px;*/
}
#spriteImg {
  height: 138px; /*118 / 128*/
  bottom: 100px;  /* which row of sprite */ /*88*/

  position: relative;
}

/* collision test */
#redBox {
  position: absolute;

  width: 49px;
  height: 51px;

  top: 100px;
  left: 500px;

  transform: scale(0.7);
}


/*new attempt*/
body {
  background-image: url(../img/bg/start/adf23c20-d055-4c08-95c9-ac023fcca730.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: font;

  overflow: hidden;
}

#logo {
}

#logo > img {
  width: 100%;
}

#head {
  width: 35%;

  margin-top: 15%;
  margin-left: 35%;

  filter: hue-rotate(340deg);
}

.invis {
  margin-bottom: 3%;

  /*background-color: rgba(11, 125, 224, 0.434);*/
  border-radius: 100px;

  height: 25vh;
  width: 13.5vw;

  user-select: none;
}

#options {
  margin-left: 25%;
  position: relative;
}

#start {
  margin-top: -22.9%;
  margin-left: -1.8%;
}

#rules {
  margin-left: 22%;
  margin-top: 3.5%;

  width: 13.7vw;
}

#idk {
  margin-left: 59.5%;
  margin-top: -45%;
}

.invis:hover {
  /*background-color: rgba(14, 105, 184, 0.436);*/

  cursor: url(../img/cursor/open.png), auto;
}

@font-face {
  font-family: font;
  src: url(../font/pkmn_rbygsc/PKMN\ RBYGSC.ttf);
}

html {
  cursor: url(../img/cursor/closed.png), auto;
}

#text {
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.299) 2px 2px 10px;
  /*border: rgba(82, 119, 86, 0.755) 1px solid;
  border-radius: 30px;*/
  background-color: rgba(82, 119, 86, 0.478);

  width: 40%;

  padding: 2%;
  margin: auto;
}

#text h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 2%;
}

#text div {
  font-size: 105%;
}

.back {
  cursor: url(../img/cursor/open.png), auto;
  user-select: none;

  margin-top: 2%;
  font-weight: bolder;
}

#score {
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.299) 2px 2px 10px;

  color: white;
  background-color: rgba(132, 179, 167, 0.442);

  padding: auto;
  padding: 2%;
  margin: auto;
  margin-top: 10%;
  
  width: 30vw;
  height: 15vh;
}

#score h1 {
  border-bottom: white solid 1px;

  margin: 0;
  padding: 0;
  padding-bottom: 2%;
  margin-bottom: 3%;
}

#scoreBoard {
  
}

#playerInfo {
  border: white solid 1px;
  padding:2%;
}

#game {
  padding: 1%;
  margin: 0;
}

#scoreAdder {
  user-select: none;
  cursor: url(../img/cursor/open.png), auto;
}