/* General styling */
/*html, body {
  margin: 0;
  padding: 0;
}*/


/* dashboard outputs */
/*#dashboard {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}
#startButton {
  color: #fff;
  background-color: #222;
  border: 3px solid rgb(68, 221, 183);
  padding: 0.5em;
  text-align: center;
}
#startButton:hover {
  cursor: pointer;
  background-color: #111;
}
#debug_output {
  color: #fff;
  background-color: #222;
  border: 3px solid rgb(68, 221, 183);
  padding: 0.5em;
} */


/* Sprite game surface */
/*#surface {
  background-color: #222;
  border: 3px solid rgb(68, 221, 183);
  height: 400px;
  width: 800px;
  position: relative;
  margin: 0 auto;
  transform-origin: top;
} */

/*#player {
  position: absolute;
  width: 37px; */ /* viewing window */
  /*height: 28px;*/ /* viewing window */
  /*overflow: hidden;
  opacity: 0;*/ /* hide till start */
/*}
#spriteImg {
  height: 300px;
  bottom: 49px; */ /* which row of sprite */
  /*position: relative;
}

/* collision test */
/*#redBox {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 100px;
  left: 500px;
  background-color: rgb(255, 66, 66);
}*/



/**/
/*@font-face {
  font-family: font;
  src: url(../font/pkmn_rbygsc/PKMN\ RBYGSC.ttf);
}

html, body {
  cursor: url(../img/cursor/closed.png), auto;
  overflow: hidden;

  font-family: font;
}

body {
  background-image: url(../img/bg/start/adf23c20-d055-4c08-95c9-ac023fcca730.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

#logo {
  width: 32%;
  position: fixed;
  top: 28%;
  left: 36%;
}

#logo > img {
  width: 100%;
}

#options > div {
  position: fixed;

  background-color: rgba(255, 255, 255, 0);
  text-align: center;

  border-radius: 100px;
  width: 8vw;
  height: 15vh;
}

#options > div:hover {
  cursor: url(../img/cursor/open.png), auto;
}

#start {
  top: 55%;
  left: 45%;
}

#rules {
  top: 24%;
  left: 72%;
  
  font-size: 120%;
  color: rgb(255, 255, 255);

  user-select: none;
}

#rules h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 1%;
}

#rules h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 1%;
}

#rules p {
  padding: 0;
  margin: 0;
  margin-bottom: 1%;
}

#back {
  border: 1px white solid;

  width: 10%;

  padding: 1% 1.7% 1% 1%;
  margin-left: 43%;
  margin-top: 2%;

  cursor: url(../img/cursor/open.png), auto;  
}

#back:hover {
  transform: scale(1.1);
}

#extra {
  top: 25%;
  left: 27%;
}*/

/*new attempt*/
body {
  background-image: url(../img/bg/start/adf23c20-d055-4c08-95c9-ac023fcca730.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: font;

  overflow: hidden;
}

#logo {
}

#logo > img {
  width: 100%;
}

#head {
  width: 35%;

  margin-top: 15%;
  margin-left: 35%;

  filter: hue-rotate(340deg);
}

.invis {
  margin-bottom: 3%;

  /*background-color: rgba(11, 125, 224, 0.434);*/
  border-radius: 100px;

  height: 25vh;
  width: 13.5vw;

  user-select: none;
}

#options {
  margin-left: 25%;
  position: relative;
}

#start {
  margin-top: -22.9%;
  margin-left: -1.8%;
}

#rules {
  margin-left: 22%;
  margin-top: 3.5%;

  width: 13.7vw;
}

#idk {
  margin-left: 59.5%;
  margin-top: -45%;
}

.invis:hover {
  /*background-color: rgba(14, 105, 184, 0.436);*/

  cursor: url(../img/cursor/open.png), auto;
}

@font-face {
  font-family: font;
  src: url(../font/pkmn_rbygsc/PKMN\ RBYGSC.ttf);
}

html {
  cursor: url(../img/cursor/closed.png), auto;
}

#text {
  color: white;
  text-align: center;
  border: rgb(132, 205, 112) 1px solid;
  border-radius: 30px;
  background-color: rgba(132, 205, 112, 0.727);

  width: 40%;

  padding: 1%;
  margin: auto;
}

#text div {
  font-size: 105%;
}

#back {
  cursor: url(../img/cursor/open.png), auto;
  user-select: none;
}